# Python cache

**pycache**/
*.pyc

# Virtual environment

venv/
.env

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Data files (optional - if large datasets)

*.csv

# Model files (if saved later)

*.pkl

# OS files

.DS_Store
Thumbs.db
